{varType int $count}
<span title="Nette\Mail: {$count} email{$count === 1 ? '' : 's'} sent">
	<svg viewBox="0 0 24 24">
		<path fill="{$count ? '#338ad5' : '#aaa'}" d="M2 5c0-1.1.9-2 2-2h16c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V5zm2 .5v.4l8 5 8-5v-.4H4zm16 2.2-7.5 4.7c-.3.2-.7.2-1 0L4 7.7V19h16V7.7z"/>
	</svg
	><span class="tracy-label">{$count}</span>
</span>
